.stats {
    padding: 0 0 110px 0;
    .container{
        max-width: 1130px;
        .stats-box {
            background: #FFFFFF;
            border: 1px solid #DFDFDF;
            box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
            border-radius: 22px;
            padding: 34px 30px 30px 42px;
            ul {
                @extend %listreset;
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                align-items: center;
                li {
                    padding: 0 15px;

                    &:nth-child(1){
                        flex: 0 0 31.2%;
                        max-width: 31.2%;
                        p {
                            font-family: 'Manrope';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 30px;
                            line-height: 46px;
                            letter-spacing: -0.03em;
                            color: #000000;
                            
                        }
                    }
                    &:nth-child(2){
                        flex: 0 0 22.8%;
                        max-width: 22.8%;
                    }
                    &:nth-child(3){
                        flex: 0 0 22.8%;
                        max-width: 22.8%;
                    }
                    &:nth-child(4){
                        flex: 0 0 22.8%;
                        max-width: 22.8%;
                    }
                    img {
                        padding-right: 22px;
                        
                        height: 40px;
                    }
                   
                }
                li + li {
                    display: flex;
                    align-items: center;
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: -0.02em;
                    color: #64607D;
                    position: relative;
                    z-index: 100;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        background: #E9ECF2;
                        border-radius: 5px;
                        left: 10px;
                        z-index: -1;
                    }
                    
                }
            }
        }
    }
}